# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build folder
/client/build

# Environment variables
.env
/server/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
